*{
    padding: 0;
    margin:0;
    max-width: 100%;
    box-sizing: border-box;
   
}
#main{
    display: block;
}
html{
    font-size: 20px;
    font-family: "Open sans";
}
/* Header */
#header{
    position: fixed;
    height: 50px;
    background-color:#fff;
    color: #000;
    z-index: 1;
    width:100%;
}
#nav{
    display: inline-block;
    padding:0;
    position: relative;
    height: 50px;
}
#nav>li{
    display: inline-block;
}
#nav li a{
    text-decoration: none;
    line-height: 50px;
    padding: 0 24px;
    display: block;
    cursor: pointer;
}
li{
    list-style-type: none; 
}
#search{
    text-align: left;
    font-size: 15px;
    width: 280px;
    text-align: left;
    font-size: 15px;
    width: 280px;
    border-radius: 10px;
}
.search-icon:hover{
    cursor: pointer;
}
.search{
    position: relative;
    display: inline-block;
    margin: 5px;
    top: 7px;
    left: 100px;
    font-size: 15px;
    overflow: hidden;
    border: none;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}
.search-icon{
    position: absolute;
    font-size: 20px;
    right:10px;
    top: 5px;
}
#user{
    background-color:#5e5858;
    height: 40px;
    width: 40px;
    border-radius:50%;
    box-shadow:#cccccc 0px 0px 5px 0px;
    color:#ffffff;
    margin:5px 50px 0px 0px;
    font-size:20px;
    line-height:40px;
    text-align:center;
    float: right;
}
#nav li:hover a {
    color: white;
    background-color: orange;
}
#user:hover,#user-theme:hover{
    cursor: pointer;
    background-color:#5b7dff;
}
#user-theme{
    background-color:#5e5858;
    height:40px;
    width:40px;
    border-radius:50%;
    color:#ffffff;
    font-size:25px;
    line-height:38px;
    margin:5px 10px 0px 0px;
    text-align:center;
    float:right;
}
#div-left{
    width: 25%;
    height: auto;
    font-family: Arial;
    font-size: 20px;
}
/* Dùng chung */
.text{
    margin: 40px 30px;
}  
.img{
    width:1320px;
    height: 400px;
} 
.col-7{
    height:50px;
}
.col {
    margin-top: 20px;
    flex: 1 0 0%;
    font-size: 20px;
}
.col1{
    font-size: 15px;
}
.text-danger {
    color: #dc3545!important;
    font-size: 30px;
}
.col-5{
    height: 50px;
}
 /* Slideshow container */
 .slideshow-container {
    max-width: 50%;  
    top: 50px;
    position:relative;
    margin: auto;
    box-sizing: border-box;
  }
  /* Ẩn các slider */
  .mySlides {
      display: none;
  }
  /* định dạng các chấm chuyển đổi các slide */
  .dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  /* khi được hover, active đổi màu nền */
  .active, .dot:hover {
    background-color: #717171;
  }
   
  /* Thêm hiệu ứng khi chuyển đổi các slide */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
   
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  /* Phim Hot */
  #PhimHot{
    position: relative;
    margin-bottom: 20px;
    padding-bottom:50px;
  }
.content-heading{
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    font-family: 'TimeNewRomans';
  }
#Content{
    text-align: center;
    font-family: 'TimeNewRomans';
}
.nut-slide span{
    color: #000;
    font-size: 60px;
    opacity: 0.6;
 }
 .prev{
    position: absolute;
    top: 50%;
    left: 0%;
    z-index: 10;
    cursor: pointer;
 }
 span.prev:hover,
 span.next:hover{
    background-color: #717171;
 }
 .next{
    position: absolute;
    top: 50%;
    right: 0%;
    z-index: 10;
    cursor: pointer;
 }
/* Tin tức */
#TinTuc,#PhimHot{
    margin-top: 20px;
    padding-top:20px;
}
/* Footer */
#footer{
    margin-top: 30px;
    padding:40px;
    background-color:#000;
    color: white;
}