
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<h2>Contact</h2>
<p>Nếu bạn muốn liên hệ thì tới ngay link này: <a href="https://www.facebook.com/profile.php?id=100081004293124">facebook</a></p>

